
{% extends 'base.html'%}
{% load static %}
{% block content%}
<style>
    .fact{
        /* width: 25%; */
        background-color: #ffffff;
        box-shadow:  0 0 1.2em rgba(0, 4, 52, 0.1);
        margin: 5px 5px 5px 5px;
        padding: 1em 1.8em;
        border-radius: 0.6em;
        border: none;
        border-bottom: 3px solid #566fff;
        display: block;
        /* background:yellow; */
    }
    .loaderloader{
      pointer-events: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #fff;
      animation: anl 1s ease infinite;
      display:none;
      cursor : not-allowed;
     
  }
  @keyframes anl{
      0%{
          transform: rotate(0turn);
      }
      100%{
          transform: rotate(1turn);
          /* cursor: pointer; */
      }
  }
  .ssh{
    outline: none;
    padding: 6px 10px;
    border: none;
  }
  
</style>
<div style="direction: rtl;" class="wrapper">
  {% include 'parts/allert.html'%}

  <p id="userpor">{{request.user.id}}</p>
{% for book in Product %}


{% if book.price != None %}



<p class="totalprice"> {{book.price}}</p>




{% endif %}


{% endfor %}


{% for book in Product %}


{% if book.id != None %}



<p class="totalid"> {{book.id}}</p>

{% endif %}


{% endfor %}


    <div   class="content-wrapper">
        <div id="cart-1" class="fact">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
          </svg>
             <h5  style="font-weight: 900; font-size:15px;">  شروط لاضافة منتج </h6>
              <ul>
                <li style="color: rgb(85, 0, 255);"> قبل اضافة منتج اتصل على خدمة العملاء لاضافة تصنيف لك واضافة تاجر </li>
              <li> اذا تم تفعيل الفقات المتعدده سوف يتم اضافة قائمه لاضافة مقاسات والوان  </li>
              <li> اذا تم تفعيل الوان اضافيه سوف يتم اضافة قائمه لاضافة صور والوان</li>
              <li style="color: red;"> اذا تم تفعيلهما معا الناتج عمليه خاطئه </li>
              
                
             
              </ul>
            
              

             <span ></span>
  
          </div>

            <form method="POST" enctype="multipart/form-data"  > 
           

              <div class="card-body">
                {% csrf_token %} 
                <p id="cart-2"> {{from}}</p>
          
                <small id='totalrente' class="form-text text-muted"></small>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" id="submit-btn" class="ssh btn-primary"> 
                 <div div style="display: flex; justify-content: space-between; align-items: center; gap: 5px;">

                  <div class="loaderloader"></div>
                  اضافة
                  </div>
                </span></button>
              </div>
            </form>
        
</div>
<script>
  let save = document.getElementById('submit-btn'); 
  let id_name = document.getElementById('id_name'); 
  let id_asname = document.getElementById('id_asname'); 
  let id_asdescription = document.getElementById('id_asdescription'); 
  let id_description = document.getElementById('id_description'); 
  let id_qur = document.getElementById('id_qur'); 
  let id_gx = document.getElementById('id_gx'); 
  
  let id_category = document.getElementById('id_category'); 

 
let displays = document.querySelector('.loaderloader');

save.addEventListener('click',()=>{

 
    if (id_name.value != '' && id_asname.value != '' && id_asdescription.value != '' && id_description.value != ''&& id_qur.value != ''&& id_gx.value != '' & id_category.value != ''  ){
     
      setTimeout(()=>{
       displays.style.display = "block";
       save.style.cursor = "not-allowed";
       save.disabled = true;
      
      },3);
    }

      // setTimeout(()=>{
      //  displays.style.display = "none";
      //  save.disabled = false;
      //  save.style.cursor = "pointer";
      // },10000*50);
    


});
</script>
{% endblock%}