
{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
    .fact{
        /* width: 25%; */
        background-color: #ffffff;
        box-shadow:  0 0 1.2em rgba(0, 4, 52, 0.1);
        margin: 5px 5px 5px 5px;
        padding: 1em 1.8em;
        border-radius: 0.6em;
        border: none;
        border-bottom: 3px solid #566fff;
        display: block;
    }
</style>
<div style="direction: rtl;" class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div   class="content-wrapper">
    {% include 'parts/allert.html'%}
    <!-- Content Header (Page header) -->
<div  class="card card-primary">
    <div class="fact">
      <p >اضافه الوان </p>
    </div>
    <a class="btn btn-info w-50 mb-1 ml-3"  href="{% url 'addimgs' s.id %}">اضافة الوان</a>
<div style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr style="color: white; background-color: #666;" >
                <td>الصوره</td>
                <td>الاسم</td>
                <td>الكميه</td>

                <td>حذف</td>
                <td> تعديل </td>

            </tr>
        </thead>
        <tbody>
            {% for x in i %}
            <tr>
                <td><img src="{{x.photos.url}}" alt="" style="width: 80px;height: 80px;"></td>
                <td>{{x.name}}</td>
                <td>{{x.quimg}}</td>
                <td><a href="{% url 'deleteimg' x.i.id x.id %}" class="btn btn-outline-danger">حذف</a></td>
                <td><a href="{% url 'updateimg' x.i.id x.id %}" class="btn btn-outline-info"> تعديل </a></td>


            </tr>
            {%endfor%}
        </tbody>
    </table>
  </div>
  </div>

  
  <div class="ring ">انتظار
    <span></span>
  </div>


</div>
</div>
  

{% endblock%}