
{% extends 'base.html'%}
{% load static %}
{% block content %}
<div style="direction: rtl;" class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div   class="content-wrapper">
    {% include 'parts/allert.html'%}
    <!-- Content Header (Page header) -->
<div  class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">تقرير بوسطه </h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    
      <div class="card-body">

        {{form}}
       
      </div>
    
      <div class="card-footer">
        <button type="submit" class="btn btn-primary pt-2">ايضافة تقرير</button>
      </div>
    </form>
  </div>

  
  <div class="ring ">انتظار
    <span></span>
  </div>


</div>
</div>
  

{% endblock%}