{% extends 'base.html'%}
{% load static %}

{% block title %}| card {% endblock%}


{% block content %}
<div   class="content-wrapper">
<div class="my-form container p-5 roudend border border-warning">
    
<h2 class="text-center">
    Card
</h2>
<hr>








<table class="table table-hover">
    <thead>
      <tr>
     
        <th scope="col">Order Number</th>
        <th scope="col">Date & Time</th>
        <th scope="col">ITems Count</th>
        
        <th scope="col">Total</th>
        <th scope="col">is_finished</th>
        
      </tr>
    </thead>
    <tbody>




{%for order in all_orders%}

<tr>
    
    <td>
    <a href="{% url 'orderOrderDetails' order.user.id order.id %}">{{order.id}}</a>
    </td>
    <td>
       {{order.order_date}}
    </td>
  
    <td>
        {{order.items_count}}
    </td>
    <td>
        {{order.totle}}
    </td>
  
    <td>
        {{order.items_counts}}
   
    </td>
    <td>
      
{% if order.is_finished == True %}
Yes
{% else %}
no

{%endif%}
    </td>
</tr>







{% endfor %}








{%for order in all_orders.%}


    
    <h6>
    <a href="{% url 'orderOrderDetails' order.id %}">{{order.id}}</a>
    </h6>
    <h6>
        {{order.order_date}}
    </h6>
  
    <h6>
        {{order.items_count}}
    </h6>
    <h6>
        {{order.totle}}
    </h6>
  
    <h1>
        {{order.details.product.name}}
   
    </h1>
   
      
{% if order.is_finished == True %}
Yes
{% else %}
no

{%endif%}
 







{% endfor %}


</div>
</div>





{% endblock %}
