
{% extends 'base.html'%}
{% load static %}
{% block content %}
<div style="direction: rtl;" class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div   class="content-wrapper">
    {% include 'parts/allert.html'%}
    <!-- Content Header (Page header) -->
<div  class="card card-primary">

  <div class="preloader-wrapper">
    <div class="preloader">
    </div>
  </div>
 
    <div class="alert alert-success " role="alert">
       تم تغير كلمة المرور بانجاح
      </div>
      <div style="display: flex; justify-content: center;align-items: center;">
        <a href="{% url 'change_password' %}" class="com btn btn-warning w-100">تغير البسور</a>

      </div>
  </div>
</div>
</div>
  

{% endblock%}