{% extends 'base.html'%}
{% load static %}

{%load crispy_forms_tags %}
{% block content %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper p-5">
        <div class="preloader-wrapper">
            <div class="preloader">
            </div>
          </div>

<h1>  
    <div class="alert alert-success" role="alert">
        تم تغير كلمة المرور
      </div>
     </h1>
<a href="{% url 'login' %}" class="btn btn-outline-info">تسجيل الدخول</a>

</div>
</div>
{% endblock %}