{% extends 'base.html'%}
{% load static %}
{%load crispy_forms_tags %}

{% block content %}
<div style="direction: rtl;" class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div   class="content-wrapper p-5" >
        <div class="preloader-wrapper">
            <div class="preloader">
            </div>
          </div>
{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    {% csrf_token %}
    <p><input type="submit" value="ارسال" class="w-100 btn   btn-outline-info"></p>
</form>
{% else %}
<p> Password reset unsuccessful </p>
{% endif%}
</div>
</div>
{% endblock %}